# deps
/node_modules

# next.js
/.next/
/out/

# env
.env
.env.local
.env.*.local

# typescript
*.tsbuildinfo

# playwright generated output
/playwright-report/
/test-results/

# misc
.DS_Store
*.pem
npm-debug.log*
